@charset "UTF-8";
/*import fichiers externes*/
/*fichiers de polices en provenance de google font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* import fichiers interne*/
/* variables pour les écrans*/
/*création des breakpoints*/
/*vue tablette*/
/*vue desktop*/
/*création des variables media queries utilisant les breakpoints*/
/* reset (par defaut des navigateurs)*/
html,
body {
  margin: 0;
  padding: 0;
}

/* decription des variables*/
body {
  width: auto;
  font-family: roboto, Arial, "sans-sherif";
}

/* Variables photos*/
/* Pour centrer les elements*/
/* placeholder pour déclarer la taille et position des photos d'accueil*/
.photo_gout, .photo_enchante, .photo_ala_fr, .photo_delice_sens {
  border-radius: 10px 10px 0px 0px;
  height: 175px;
  background-position: center;
  background-size: cover;
  /* taille du backgroung couvre tout*/
}

/*Extension du placeholder photo_accueil_taille */
.photo_gout {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  /*url de la photo*/
  /*placeholder*/
}

.photo_enchante {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.photo_ala_fr {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.photo_delice_sens {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/* style des boutons*/
.omf_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* insertion des elements de la mixin*/
  height: 50px;
  border-radius: 30px;
  /*bordures arrondies*/
  text-align: center;
  width: 220px;
  color: #fff;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  /*ombre*/
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9353dc));
  background: linear-gradient(#ff79da, #9353dc);
  /* dégradé*/
}

.omf_btn:hover {
  /* changement au passage de la souris*/
  background: -webkit-gradient(linear, left top, left bottom, from(#9353dc), to(#ff79da));
  background: linear-gradient(#9353dc, #ff79da);
  -webkit-box-shadow: 5px 10px 7px #a19f9f;
          box-shadow: 5px 10px 7px #a19f9f;
  opacity: 0.8;
  /*eclairssissement btn*/
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* vue mobile*/
#bloc_page {
  width: auto;
}

/* mise en page du logo*/
#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*taille et position du logo*/
#logo img {
  height: 30px;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
footer {
  background-color: black;
  height: 200px;
  color: white;
  padding-left: 20px;
}

#logo_footer {
  /* pas un logo mais utilisation de la police shrikhand sur le texte pour recréer le logo  */
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: shrikhand;
  font-size: 17px;
  color: #fff;
}

.proposer i,
.devenir i {
  padding-right: 15px;
  margin-bottom: 10px;
}

.contact {
  margin-bottom: 20px;
}

.contact a {
  text-decoration: none;
  color: white;
}

.mentions {
  margin-bottom: 10px;
}
/*# sourceMappingURL=style_omf_commun.css.map */