html,body {                      /* reset (par defaut des navigateurs)*/
  margin: 0; 
  padding: 0; 
}
/* importantion des polices*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./responsive.scss" ;                                 /* variables pour les écrans*/
@import "./style_omf_commun.scss";                             /* style commun a toutes les pages*/



body {
  font-family: $omf_text_font,  $omf_font_default;
}


/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

#bloc_page {  /* vue mobile*/
  width: auto;
}
@media #{$medium-up} {     /* page pour divers ecran */
  #bloc_page {
    margin: auto;
  }
 }
                          /* mise en page du logo*/
#logo {
  display: flex;
  justify-content: center;
  
}
 #logo img {
  height:30px;
  width: 160px;  
  margin-top: 20px;
  margin-bottom: 10px ;
  
}

                                /* vue divers ecran*/
@media #{$medium-up} {
  
#logo {
  display: block;
 }
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Map--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
                                      /* mise en page du map*/
.map {
height: 50px;  
background: linear-gradient(rgb(199, 198, 198) ,rgb(235, 229, 229)10% 0.8);
display: flex;
justify-content: center;
align-items: center;

.texte_map{
  font-size: 16px;
  font-family: roboto;
  font-weight: bold;
}
.icon_map{
  font-size: 18px;
  margin-right: 17px;
}
}
 
/* mise en page explorez*/

.explorez {
  background-color: $background-color-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  h1 {
    display: flex;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 900;
    margin: 40px 60px 10px 40px ;
  }
}
.explorez .decouvre{
  display: flex;
  text-align: center;
  align-content: center;
  margin-right:25px ;
  margin-left:25px ;
  font-size: 18px;
  font-weight: light;
}
                             
.btn_explorez {                           /*bouton explorez*/
  @extend .omf_btn;
      }

/* vue mobile map*/
@media #{$medium-up} {
  .decouvre {
  padding-top: 10px;
}
.explorez{
  height: 230px;
  h1{
    padding-top: 10px;
  }  
}
.btn_explorez {
  margin-top: 40px;
}
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Fonctionnement---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* fonctionnement*/
.fonctionnement h1{
  padding-top: 20px;
  margin-left: 29px;
  padding-bottom: 6px; 
  font-family: $omf_text_font;
  font-weight: 900;
  }
  .cards_fonctionnement{
    padding-left: 30px;
    
  }
 .card_fonctionnement{
   margin-bottom: 20px;
   border-radius: 20px;
   padding: 20px 70px 20px 70px;
   background-color: $background-color-grey;
   box-shadow: 5px 10px 7px #e2e2e2;
   font-weight: bold;
   width: 190px;
   display: flex;
   gap: 20px;
   .icon_fonctionnement{
    color: #ccc5c5;}
   &:hover{
    background: rgba($primaire,0.1);
    color: $primaire;
    .icon_fonctionnement{
      color: $primaire;
      
    }
  }
  & div{            /* réalisation des ronds*/
height: 25px;
line-height: 25px;
  }
 }

 .cards_fonctionnement{
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 1px;
    }
  .card_fonctionnement{
        font-size: $omf_font_size_text;
    }
 
/* vue divers ecran*/
@media #{$medium-up} {
  .cards_fonctionnement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
  }  
}
/* number*/

.number{
  background-color: #9353dc;
  width: 25px;
  color:#fff;
  border-radius: 50%;
  text-align: center;
  margin-left: -79px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section restaurants------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/


 /*les restaurants*/
.restaurants{
  background-color:$background-color-grey ;
 padding-top: 20px;
 padding-bottom: 50px;
 
}

.cards_restaurants{
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  }


 .card_restaurants{
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border: black solid 2px;
  height: 10rem;
  width: 22rem;
   }

%photo_accueil_taille{                         /* Déclaration pour la taille et position des photos d'accueil*/
  border-radius: 10px 10px 0px 0px;
  height: 90px;
  background-position: center;
  background-size: cover; /* taille du backgroung couvre tout*/
}


 .photo_gout {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  @extend %photo_accueil_taille;
  }
.photo_enchante{
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  @extend %photo_accueil_taille;
  }
.photo_ala_fr{
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  @extend %photo_accueil_taille;
 }
.photo_delice_sens{
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  @extend %photo_accueil_taille;
}

/* vue mobile map*/
@media #{$medium-up} {
  .cards_restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
}
