html,body {                      /* reset (par defaut des navigateurs)*/
  margin: 0; 
  padding: 0; 
}
/* importantion des polices*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./responsive.scss" ; /* variables pour les écrans*/

/* decription des variabbles*/
$omf_text_font: roboto;
$omf_title_font: shrikhand;
$omf_logo_font: $omf_title_font;
$omf_font_default: Arial, "sans-sherif";
$omf_font_size_text: 12px;
$omf_font_size_text_desktop: 20px;
$padding: 10px;
$background-color-grey:#f6f5f5;
$secondaire: #ff79da;
$primaire:#9353dc;

body {
  font-family: $omf_text_font, $omf_title_font, $omf_font_default;
}


/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

#bloc_page {  /* vue mobile*/
  width: auto;
}
@media #{$medium-up} {     /* page pour divers ecran */
  #bloc_page {
    margin: auto;
  }
 }
                          /* mise en page du logo*/
 #logo img {
  width: 30%;
}
#logo {
  display: flex;
  justify-content: center;
}
                                /* vue divers ecran*/
@media #{$medium-up} {
  
#logo {
  display: block;
  background-color: #fff;
  padding: $omf_font_size_text;
  font-family: $omf_logo_font, $omf_font_default;
}
#logo img {
  width: 20%;
}
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Map--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
                                      /* mise en page du map*/
.map {
  display: flex;
  justify-content: center;
  padding: $padding;
  background-color: rgb(216, 216, 216);
}
                                            /* vue divers écran*/
@media #{$medium-up} {
  .map {
    font-size: $omf_font_size_text;
    padding: $padding;
    background-color: #fff;
    font-size: $omf_font_size_text;
  }
}
/* mise en page explorez*/

.explorez {
  background-color: $background-color-grey;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $omf_font_size_text;
}
.explorez h1 {
  font-family: $omf_text_font;
}
.decouvre {
  font-size: $omf_font_size_text;
  text-align: center;
}
/* vue mobile map*/
@media #{$medium-up}{
  .explorez h1,
  .decouvre {
    text-align: center;
  }
  .explorez {
    font-size: $omf_font_size_text_desktop;
  }
  .decouvre {
    font-size: $omf_font_size_text_desktop;
  }
}

/*bouton explorez*/
.btn_explorez {
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px 15px 0px;
  height: 20px;
  width: 300px;
  color: #fff;
  box-shadow: 5px 10px 7px #e2e2e2;
  font-size: $omf_font_size_text;
  background: linear-gradient($secondaire, $primaire);
  line-height: 20px;
  &:hover{
    background: linear-gradient($primaire, $secondaire);     
  }
}

/* vue mobile map*/
@media #{$medium-up} {
  .btn_explorez {
    font-size: $omf_font_size_text_desktop ;
    padding: 10px 0px 10px 0px;
    height: 15px;
    line-height: 15px;
    width: 150px;
  }
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Fonctionnement---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

/* fonctionnement*/
.fonctionnement h1{
  font-family: $omf_text_font;
  }
 .card_fonctionnement{
   margin-bottom: 20px;
   border-radius: 20px;
   padding: 20px 70px 20px 70px;
   background-color: $background-color-grey;
   box-shadow: 5px 10px 7px #e2e2e2;
   font-weight: bold;
   width: 200px;
   display: flex;
   gap: 20px;
   .icon_fonctionnement{
    color: #ccc5c5;}
   &:hover{
    background: rgba($primaire,0.1);
    color: $primaire;
    .icon_fonctionnement{
      color: $primaire;
      
    }
  }
  & div{
height: 25px;
line-height: 25px;
  }
 }

 .cards_fonctionnement{
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 1px;
    }
  .card_fonctionnement{
        font-size: $omf_font_size_text;
    }
 
/* vue divers ecran*/
@media #{$medium-up} {
  .cards_fonctionnement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 10px;
  }  
}
/* number*/

.number{
  background-color: #9353dc;
  width: 25px;
  color:#fff;
  border-radius: 50%;
  text-align: center;
  margin-left: -79px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section restaurants------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/


 /*les restaurants*/
.restaurants{
  background-color:$background-color-grey ;
 padding-top: 20px;
 padding-bottom: 50px;
 
}

.cards_restaurants{
  flex-direction: column;
  align-items: center;
  row-gap: 50px;
  }


 .card_restaurants{
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border: black solid 2px;
  height: 10rem;
  width: 22rem;
  

 }
 .photo_gout {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 90px;
  background-position: center;
}
.photo_enchante{
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 90px;
  background-position: center;
}
.photo_ala_fr{
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 90px;
  background-position: center;
}
.photo_delice_sens{
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover; /* taille du backgroung couvre tout*/
  border-radius: 10px 10px 0px 0px;
  height: 90px;
  background-position: center;
}
/* vue mobile map*/
@media #{$medium-up} {
  .cards_restaurants{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
}