/* importantion des polices*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./responsive.scss" ; /* variables pour les écrans*/

/* decription des variabbles*/
$omf_text_font: roboto;
$omf_title_font: shrikhand;
$omf_logo_font: $omf_title_font;
$omf_font_default: Arial, "sans-sherif";
$omf_font_size_text: 12px;
$font_size_text_desktop: 20px;
$padding: 10px;
$background-color-grey:#f6f5f5;
$secondaire: #ff79da;
$primaire:#9353dc;

body {
  font-family: $omf_text_font, $omf_title_font, $omf_font_default;
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* page pour divers ecran */
#bloc_page {
  margin: auto;
}
@media #{$medium-up} {
  /* vue mobile*/
  #bloc_page {
    width: auto;
  }
}
/* mise en page du logo*/
#logo {
  display: block;
  background-color: #fff;
  padding: $omf_font_size_text;
  font-family: $omf_logo_font, $omf_font_default;
}
#logo img {
  width: 20%;
}
/* vue mobile logo*/
@media #{$medium-up} {
  #logo img {
    width: 30%;
  }
  #logo {
    display: flex;
    justify-content: center;
  }
}

/* mise en page du map*/
.map {
  font-size: $omf_font_size_text;
  padding: $padding;
  background-color: #fff;
  font-size: $omf_font_size_text;
}
/* vue mobile map*/
@media #{$medium-up} {
  .map {
    display: flex;
    justify-content: center;
    padding: $padding;
    background-color: rgb(216, 216, 216);
  }
}
/* mise en page explorez*/
.explorez {
  background-color: $background-color-grey;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $font_size_text_desktop;
}
.explorez h1 {
  font-family: $omf_text_font;
}
.decouvre {
  font-size: $font_size_text_desktop;
}
/* vue mobile map*/
@media #{$medium-up}{
  .explorez h1,
  .decouvre {
    text-align: center;
  }
  .explorez {
    font-size: $omf_font_size_text;
  }
  .decouvre {
    font-size: $omf_font_size_text;
  }
}

/*bouton explorez*/
.btn_explorez {
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px 15px 0px;
  height: 20px;
  width: 300px;
  color: #fff;
  box-shadow: 5px 10px 7px #e2e2e2;
  font-size: $font_size_text_desktop;
  background: linear-gradient($secondaire, $primaire);
  line-height: 20px;
  &:hover{
    background: linear-gradient($primaire, $secondaire);     
  }
}

/* vue mobile map*/
@media #{$medium-up} {
  .btn_explorez {
    font-size: $omf_font_size_text;
    padding: 10px 0px 10px 0px;
    height: 15px;
    line-height: 15px;
    width: 150px;
  }
}

/* fonctionnement*/
.fonctionnement h1{
  font-family: $omf_text_font;
  }
 .card_fonctionnement{
   margin-bottom: 20px;
   border-radius: 20px;
   padding: 20px 70px 20px 70px;
   background-color: $background-color-grey;
   box-shadow: 5px 10px 7px #e2e2e2;
   font-weight: bold;
   width: 200px;
   display: flex;
   gap: 20px;
   .icon_fonctionnement{
    color: #ccc5c5;}
   &:hover{
    background: rgba($primaire,0.1);
    color: $primaire;
    .icon_fonctionnement{
      color: $primaire;
      
    }
  }
  & div{
height: 25px;
line-height: 25px;
  }
 }
 
 .cards_fonctionnement{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 10px;
}
/* vue mobile map*/
@media #{$medium-up} {
  .cards_fonctionnement{
flex-direction: column;
flex-wrap: nowrap;
align-items: center;
margin-left: 1px;
  }
  .card_fonctionnement{
      font-size: $omf_font_size_text;
  }
}
/* number*/

.number{
  background-color: #9353dc;
  width: 25px;
  color:#fff;
  border-radius: 50%;
  text-align: center;
  margin-left: -79px;
}
