@charset "UTF-8";
/* import fichiers interne*/
/* style commun a toutes les pages*/
/*import fichiers externes*/
/*fichiers de polices en provenance de google font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* import fichiers interne*/
/* variables pour les écrans*/
/*création des breakpoints*/
/*vue tablette*/
/*vue desktop*/
/*création des variables media queries utilisant les breakpoints*/
/* reset (par defaut des navigateurs)*/
html,
body {
  margin: 0;
  padding: 0;
}

/* decription des variables*/
body {
  /*police du body*/
  width: auto;
  font-family: roboto, Arial, "sans-sherif";
}

.heart_open_resto {
  font-size: 25px;
  color: #9e9a9a;
}

/* Variables photos*/
/* Pour centrer les elements*/
/* placeholder pour déclarer la taille et position des photos d'accueil*/
.photo_gout, .photo_enchante, .photo_ala_fr, .photo_delice_sens {
  border-radius: 10px 10px 0px 0px;
  height: 175px;
  background-position: center;
  background-size: cover;
  /* taille du backgroung couvre tout*/
}

/*Extension du placeholder photo_accueil_taille */
.photo_gout {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.webp");
  /*url de la photo*/
  /*placeholder*/
}

.photo_enchante {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.webp");
}

.photo_ala_fr {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.webp");
}

.photo_delice_sens {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.webp");
}

/* style des boutons*/
.omf_btn, .btn_commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* insertion des elements de la mixin*/
  height: 50px;
  border-radius: 30px;
  /*bordures arrondies*/
  text-align: center;
  width: 220px;
  color: #fff;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  /*ombre*/
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9353dc));
  background: linear-gradient(#ff79da, #9353dc);
  /* dégradé*/
}

.omf_btn:hover, .btn_commande:hover {
  /* changement au passage de la souris*/
  background: -webkit-gradient(linear, left top, left bottom, from(#9353dc), to(#ff79da));
  background: linear-gradient(#9353dc, #ff79da);
  -webkit-box-shadow: 5px 10px 7px #a19f9f;
          box-shadow: 5px 10px 7px #a19f9f;
  opacity: 0.8;
  /*eclairssissement btn*/
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* vue mobile*/
#bloc_page {
  width: auto;
}

/* mise en page du logo*/
#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*taille et position du logo*/
#logo img {
  height: 30px;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
footer {
  background-color: black;
  height: 200px;
  color: white;
  padding-left: 20px;
}

#logo_footer {
  /* pas un logo mais utilisation de la police shrikhand sur le texte pour recréer le logo  */
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: shrikhand;
  font-size: 17px;
  color: #fff;
}

.proposer i,
.devenir i {
  padding-right: 15px;
  margin-bottom: 10px;
}

.contact {
  margin-bottom: 20px;
}

.contact a {
  text-decoration: none;
  color: white;
}

.mentions {
  margin-bottom: 10px;
}

/* positionnement de la flèche*/
.fleche i {
  padding-top: 25px;
  margin-left: -70px;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 20px;
}

.fleche a {
  color: black;
}

/* placeholder pour positionner les photos*/
.photo_gout, .photo_enchante, .photo_delice_sens, .photo_ala_fr {
  border-radius: 0;
  width: 100%;
  height: 271px;
}

/*Extension du placeholder photo_position pour preciser les url des photos a utliser */
.photo_gout {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.webp");
}

.photo_enchante {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.webp");
}

.photo_delice_sens {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.webp");
}

.photo_ala_fr {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.webp");
}

/* style du div nom_restaurant et heart*/
.detail_resto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* place le heart et le titre*/
  padding-top: 30px;
  background-color: #f6f5f5;
  height: 70px;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
}

/* nom du restaurant dans sa page*/
.nom_restaurant {
  font-family: shrikhand;
  font-size: 27px;
  margin-left: 20px;
  padding-right: 10%;
}

/* titre des restaurants pour passer au w3c car il faut un titre au section, reset du h4 pour garder la mise en page*/
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
}

/* Heart dans la carte du restaurant*/
.heart_open_resto {
  /* placeholder heart vide dans commun*/
  position: absolute;
  right: 50px;
  opacity: 1;
}

.cards_menu {
  background-color: #f6f5f5;
  min-height: 330px;
}

/* Entrées, plats, desserts*/
.titre {
  font-size: 17px;
  font-weight: lighter;
  padding-left: 17px;
  background-color: #f6f5f5;
}

/* petit trait sous le titre entrée ou plat, dessert*/
.separateur {
  background-color: #99e2d0;
  height: 3px;
  width: 45px;
  margin-left: 17px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/*animation d'apparition des plats */
@-webkit-keyframes apparait {
  0% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparait {
  0% {
    -webkit-transform: translate(0, 20px);
            transform: translate(0, 20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.card_menu {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  border-radius: 15px;
  background-color: #faf7f6;
  -ms-flex-line-pack: center;
      align-content: center;
  width: auto;
  margin-left: 15px;
  margin-right: 14px;
  margin-bottom: 15px;
  padding-left: 3%;
  -webkit-box-shadow: 2px 2px 5px 5px #e2e2e2;
          box-shadow: 2px 2px 5px 5px #e2e2e2;
  cursor: pointer;
  overflow: hidden;
  /*masque les elements qui sortent du div .card_menu */
  -webkit-animation: apparait 0.4s linear forwards;
          animation: apparait 0.4s linear forwards;
  /*déclenchement de l'animation apparait*/
  opacity: 0;
}

/*extension dela class .card_menu pour réaliser l'aparition en décalage des plats*/
.card_menu2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.card_menu3 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.card_menu4 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

/*création du carré pour l'animation*/
.carre {
  position: absolute;
  background-color: #99e2d0;
  height: 67px;
  width: 60px;
  right: 0;
  border-radius: 0px 10px 10px 0px;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

/*décalage du prix pour l'animation*/
.card_menu:hover .somme {
  padding-right: 60px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

/*animation du carré au hover sur card_menu*/
.card_menu:hover .carre {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

/*création du cercle pour l'animation*/
@-webkit-keyframes tourne {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes tourne {
  0% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}

.check_circle {
  color: white;
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 20px;
}

/*animation rotation du cercle au hover*/
.card_menu:hover .check_circle {
  -webkit-animation: tourne 0.4s linear;
          animation: tourne 0.4s linear;
}

/*vue divers ecran*/
@media only screen and (min-width: 768px) {
  .card_menu {
    -ms-grid-columns: 20fr 1fr;
        grid-template-columns: 20fr 1fr;
  }
}

.titre_entree {
  font-size: 19px;
  grid-column: 1 / span2;
  padding-top: 10px;
  font-weight: bold;
  text-overflow: ellipsis;
  /*disparition du texte et points de suspensions*/
  white-space: nowrap;
}

.detail_entree {
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /*disparition du texte et points de suspentions*/
}

.card_menu:hover .detail_entree {
  margin-right: -60px;
  text-overflow: ellipsis;
  /*disparition du texte et points de suspentions*/
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

.somme {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5px;
  -webkit-transition: 0.4s linear;
  transition: 0.4s linear;
}

@media only screen and (min-width: 768px) {
  .somme {
    margin-right: 45px;
  }
}

.commander {
  background-color: #f6f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 65px;
  margin-top: -9px;
}

/* extension du btn commun*/
.btn_commande {
  width: 180px;
}

.menu {
  background-color: #f6f5f5;
}

.desserts {
  margin-top: 20px;
}
/*# sourceMappingURL=style_omf_restaurant.css.map */