@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* variables pour les écrans*/
html, body {
  /* reset (par defaut des navigateurs)*/
  margin: 0;
  padding: 0;
}

/* decription des variables*/
/* Variables photos*/
.photo_gout, .photo_enchante, .photo_ala_fr, .photo_delice_sens {
  /* Déclaration pour la taille et position des photos d'accueil*/
  border-radius: 10px 10px 0px 0px;
  height: 175px;
  background-position: center;
  background-size: cover;
  /* taille du backgroung couvre tout*/
}

.photo_gout {
  /* Déclaration pour la taille et position des photos */
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.photo_enchante {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.photo_ala_fr {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.photo_delice_sens {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.omf_btn, .btn_commande {
  /* style des boutons*/
  /* Pour centrer les elements*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  width: 220px;
  color: #fff;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9353dc));
  background: linear-gradient(#ff79da, #9353dc);
}

.omf_btn:hover, .btn_commande:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9353dc), to(#ff79da));
  background: linear-gradient(#9353dc, #ff79da);
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
#bloc_page {
  /* vue mobile*/
  width: auto;
}

/* mise en page du logo*/
#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logo img {
  height: 30px;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/* vue divers ecran*/
/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
footer {
  background-color: black;
  height: 200px;
  color: white;
  padding-left: 20px;
}

#logo_footer {
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: shrikhand;
  font-size: 17px;
  color: #fff;
}

.proposer i, .devenir i {
  padding-right: 15px;
  margin-bottom: 10px;
}

.contact {
  margin-bottom: 20px;
}

.contact a {
  text-decoration: none;
  color: white;
}

.mentions {
  margin-bottom: 10px;
}

/* style commun a toutes les pages*/
body {
  /* 100% de la page*/
  width: auto;
  font-family: roboto;
}

.fleche i {
  /* positionnement de la flèche*/
  padding-top: 25px;
  margin-left: -70px;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 20px;
}

.fleche a {
  color: black;
}

.photo_gout, .photo_enchante, .photo_delice_sens, .photo_ala_fr {
  /* Pour positionner les photos*/
  border-radius: 0;
  width: 100%;
  height: 271px;
}

.photo_gout {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.photo_enchante {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.photo_delice_sens {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.photo_ala_fr {
  /* photo du restaurant*/
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.detail_resto {
  /* style du div nom resto et heart*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* place le heart et le titre*/
  padding-top: 30px;
  background-color: #f6f5f5;
  height: 100px;
  border-radius: 30px;
  margin-top: -50px;
}

.nom_restaurant {
  /* nom du restaurant dans sa page*/
  font-family: shrikhand;
  font-size: 27px;
  font-weight: 550;
  margin-left: 20px;
  padding-right: 10%;
}

.heart_open {
  /* Heart dans la carte du restaurant*/
  padding-top: 5px;
  margin-right: 35px;
  font-size: 25px;
  text-align: right;
  color: #777575;
}

@media only screen and (min-width: 768px) {
  .heart_open {
    margin-right: 70px;
  }
}

.cards_menu {
  background-color: #f6f5f5;
  margin-top: -30px;
  height: 330px;
}

.cards_menu .carre_rouge {
  margin-top: -80px;
  position: absolute;
  right: 1px;
  background-color: coral;
  height: 65px;
  width: 67px;
  -webkit-transform: scale(0.1);
          transform: scale(0.1);
  -webkit-transition: -webkit-transform 330ms ease-in-out;
  transition: -webkit-transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out;
  transition: transform 330ms ease-in-out, -webkit-transform 330ms ease-in-out;
  overflow: hidden;
  border-radius: 15px;
}

.cards_menu .carre_rouge .check_circle {
  /* Pour centrer les elements*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 18px;
  font-size: 20px;
  color: cyan;
}

.titre {
  /* Entrées, plats, desserts*/
  font-size: 17px;
  font-weight: lighter;
  padding-left: 17px;
  background-color: #f6f5f5;
}

.separateur {
  background-color: #99e2d0;
  height: 3px;
  width: 45px;
  margin-left: 17px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card_menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  border-radius: 15px;
  background-color: #faf7f6;
  -ms-flex-line-pack: center;
      align-content: center;
  width: auto;
  margin-left: 15px;
  margin-right: 14px;
  margin-bottom: 15px;
  padding-left: 3%;
  -webkit-box-shadow: 2px 2px 5px 5px #e2e2e2;
          box-shadow: 2px 2px 5px 5px #e2e2e2;
}

.card_menu:hover + .carre_rouge {
  margin-right: 10px;
  background-color: blue;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.card_menu:hover .somme {
  padding-right: 50px;
}

@media only screen and (min-width: 768px) {
  /*vue divers ecran*/
  .card_menu {
    -ms-grid-columns: 20fr 1fr;
        grid-template-columns: 20fr 1fr;
  }
}

.titre_entree {
  font-size: 19px;
  grid-column: 1/span2;
  padding-top: 10px;
  font-weight: bold;
}

.detail_entree {
  font-size: 15px;
}

.somme {
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 5px;
}

@media only screen and (min-width: 768px) {
  .somme {
    margin-right: 45px;
  }
}

.commander {
  background-color: #f6f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 65px;
  margin-top: -9px;
}

.btn_commande {
  width: 180px;
}

.menu {
  background-color: #f6f5f5;
}

.entrees {
  margin-bottom: 25%;
}

@media only screen and (min-width: 768px) {
  /*vue divers ecran*/
  .entrees {
    margin-bottom: 7%;
  }
}

.desserts {
  margin-top: 20px;
}
/*# sourceMappingURL=style_omf_restaurant.css.map */