@charset "UTF-8";
/* import fichiers interne - 
/* style commun a toutes les pages*/
/*import fichiers externes*/
/*fichiers de polices en provenance de google font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* import fichiers interne*/
/* variables pour les écrans*/
/*création des breakpoints*/
/*vue tablette*/
/*vue desktop*/
/*création des variables media queries utilisant les breakpoints*/
/* reset (par defaut des navigateurs)*/
html,
body {
  margin: 0;
  padding: 0;
}

/* decription des variables*/
body {
  /*police du body*/
  width: auto;
  font-family: roboto, Arial, "sans-sherif";
}

.heart_open {
  font-size: 25px;
  color: #000;
  font-weight: lighter;
}

/* Variables photos*/
/* Pour centrer les elements*/
/* placeholder pour déclarer la taille et position des photos d'accueil*/
.photo_gout, .photo_enchante, .photo_ala_fr, .photo_delice_sens {
  border-radius: 10px 10px 0px 0px;
  height: 175px;
  background-position: center;
  background-size: cover;
  /* taille du backgroung couvre tout*/
}

/*Extension du placeholder photo_accueil_taille */
.photo_gout {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.webp");
  /*url de la photo*/
  /*placeholder*/
}

.photo_enchante {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.webp");
}

.photo_ala_fr {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.webp");
}

.photo_delice_sens {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.webp");
}

/* style des boutons*/
.omf_btn, .btn_explorez {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* insertion des elements de la mixin*/
  height: 50px;
  border-radius: 30px;
  /*bordures arrondies*/
  text-align: center;
  width: 220px;
  color: #fff;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  /*ombre*/
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9353dc));
  background: linear-gradient(#ff79da, #9353dc);
  /* dégradé*/
}

.omf_btn:hover, .btn_explorez:hover {
  /* changement au passage de la souris*/
  background: -webkit-gradient(linear, left top, left bottom, from(#9353dc), to(#ff79da));
  background: linear-gradient(#9353dc, #ff79da);
  -webkit-box-shadow: 5px 10px 7px #a19f9f;
          box-shadow: 5px 10px 7px #a19f9f;
  opacity: 0.8;
  /*eclairssissement btn*/
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* vue mobile*/
#bloc_page {
  width: auto;
}

/* mise en page du logo*/
#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/*taille et position du logo*/
#logo img {
  height: 30px;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
footer {
  background-color: black;
  height: 200px;
  color: white;
  padding-left: 20px;
}

#logo_footer {
  /* pas un logo mais utilisation de la police shrikhand sur le texte pour recréer le logo  */
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: shrikhand;
  font-size: 17px;
  color: #fff;
}

.proposer i,
.devenir i {
  padding-right: 15px;
  margin-bottom: 10px;
}

.contact {
  margin-bottom: 20px;
}

.contact a {
  text-decoration: none;
  color: white;
}

.mentions {
  margin-bottom: 10px;
}

/*---------------------------------------Varaibles------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Map--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* mise en page du map*/
.map {
  height: 50px;
  min-width: 250px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c7c6c6), color-stop(15%, #ebe5e5));
  background: linear-gradient(#c7c6c6, #ebe5e5 15%);
  /* dégradé*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-family: roboto;
  font-weight: bold;
}

.map .icon_map {
  font-size: 18px;
  margin-right: 17px;
}

/* mise en page explorez*/
.explorez {
  background-color: #f6f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
}

.explorez h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 24px;
  font-weight: 900;
  margin: 40px 60px 10px 40px;
}

.decouvre {
  margin-bottom: 10px;
}

.explorez .decouvre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: normal;
}

/*Extension du btn commun*/
/* vue tablette et desktop*/
@media only screen and (min-width: 768px) {
  .decouvre {
    padding-top: 10px;
  }
  .explorez {
    height: 260px;
  }
  .explorez h1 {
    padding-top: 10px;
  }
  .btn_explorez {
    margin-top: 10px;
  }
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Fonctionnement---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
.fonctionnement {
  margin-bottom: 70px;
  margin-right: 15px;
}

.fonctionnement h1 {
  padding-top: 30px;
  margin-left: 20px;
  padding-bottom: 6px;
  font-family: roboto;
  font-weight: 900;
}

/*ensembles des trois cartes des numéros*/
.cards_fonctionnement {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1px;
  padding-left: 30px;
}

/* vue tablette et desktop*/
@media only screen and (min-width: 768px) {
  .cards_fonctionnement {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .fonctionnement {
    margin-bottom: 30px;
  }
}

/*mise en page bloc carte a numéro*/
.card_fonctionnement {
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 25px 30px 25px 70px;
  background-color: #f6f5f5;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  font-weight: bold;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  /* réalisation des cercles avec les numéros*/
}

.card_fonctionnement .icon_fonctionnement {
  color: #ccc5c5;
  font-size: 20px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card_fonctionnement:hover {
  background: rgba(147, 83, 220, 0.1);
  color: #9353dc;
  -webkit-box-shadow: 5px 10px 7px #a19f9f;
          box-shadow: 5px 10px 7px #a19f9f;
}

.card_fonctionnement:hover .icon_fonctionnement {
  color: #9353dc;
}

.card_fonctionnement div {
  height: 25px;
  line-height: 25px;
}

/* mise en page number*/
.number {
  background-color: #9353dc;
  width: 25px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-left: -79px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section restaurants------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
.restaurants {
  background-color: #f6f5f5;
  padding-top: 30px;
  padding-bottom: 50px;
}

.restaurants h1 {
  font-weight: 900;
  margin-left: 20px;
}

/*la carte des restaurants*/
.cards_restaurants {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

/*la carte du restaurant*/
.card_restaurants {
  background-color: white;
  -webkit-box-shadow: 10px 10px 10px #e2e2e2;
          box-shadow: 10px 10px 10px #e2e2e2;
  border-radius: 20px 20px 20px 20px;
  height: 250px;
  width: auto;
  margin-left: 20px;
  margin-bottom: 20px;
}

.card_restaurants a {
  /* retire la deco de new*/
  text-decoration: none;
}

.info_resto {
  font-size: 18px;
  margin-left: 15px;
}

.restaurant_detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr;
      grid-template-columns: 6fr 1fr;
  margin-top: 15px;
}

.restaurant_detail a {
  text-decoration: none;
  color: black;
}

/*placeholder - style du coeur vide*/
.heart_open {
  /* heart_style dans commun*/
}

.heart_close {
  color: transparent;
  /*cliquable icon heart*/
}

.heart_close:focus {
  display: block;
}

/*curseur pointer*/
.icon_heart {
  cursor: pointer;
}

.icon_heart input {
  /*case à cocher*/
  display: none;
}

.icon_heart label {
  cursor: pointer;
}

.icon_heart input:checked + label {
  /*coche du heart, label qui suit le input*/
}

.icon_heart input:checked + label .fas {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  /*temps de remplissage du coeur*/
  font-size: 25px;
  background: -webkit-linear-gradient(#9353dc, #ff79da);
  /*degradé icon heart*/
  -webkit-background-clip: text;
  /* -webkit genere un warning mais est essentiel au fonctionnement du heart*/
  color: transparent;
}

.icon_heart input:checked + label .far {
  opacity: 0;
}

.new {
  border-radius: 2px;
  font-size: 15px;
  color: #0a9270;
  -webkit-box-shadow: 2px 2px 5px #757373;
          box-shadow: 2px 2px 5px #757373;
  background-color: #99e2d0;
  font-weight: bold;
  width: 80px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*insertion des elements de la mixin centrer*/
}

/*placement new*/
.photo_gout,
.photo_enchante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
}

/* vue tablette et desktop*/
@media only screen and (min-width: 768px) {
  .cards_restaurants {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    width: auto;
  }
}

/* animation loader*/
@-webkit-keyframes tourne {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    /*fait disparaitre le loader*/
    -webkit-transform: scale(0);
            transform: scale(0);
    /* Permet au btn de fonctionner en mibnimisant le loader*/
  }
}
@keyframes tourne {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  90% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    /*fait disparaitre le loader*/
    -webkit-transform: scale(0);
            transform: scale(0);
    /* Permet au btn de fonctionner en mibnimisant le loader*/
  }
}

.loading {
  /* création du loader*/
  border: 30px solid #ff79da;
  border-top: 30px solid #99e2d0;
  border-bottom: 30px solid #9353dc;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: auto;
  /* placement*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -webkit-animation: tourne 2s forwards;
          animation: tourne 2s forwards;
  /* mis a 2s comme demandé dasn le brief - trop rapide à 0.5s */
}
/*# sourceMappingURL=style_omf_accueil.css.map */