@charset "UTF-8";
/* importantion des polices*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* variables pour les écrans*/
/* decription des variabbles*/
body {
  font-family: roboto, shrikhand, Arial, "sans-sherif";
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* page pour divers ecran */
#bloc_page {
  margin: auto;
}

@media all and (max-width: 624px) {
  /* vue mobile*/
  #bloc_page {
    width: auto;
  }
}

/* mise en page du logo*/
#logo {
  display: block;
  background-color: #fff;
  padding: 12px;
  font-family: shrikhand, Arial, "sans-sherif";
}

#logo img {
  width: 20%;
}

/* vue mobile logo*/
@media all and (max-width: 624px) {
  #logo img {
    width: 30%;
  }
  #logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

/* mise en page du map*/
.map {
  font-size: 12px;
  padding: 10px;
  background-color: #fff;
  font-size: 12px;
}

/* vue mobile map*/
@media all and (max-width: 624px) {
  .map {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px;
    background-color: #d8d8d8;
  }
}

/* mise en page explorez*/
.explorez {
  background-color: #f6f5f5;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.explorez h1 {
  font-family: roboto;
}

.decouvre {
  font-size: 20px;
}

/* vue mobile map*/
@media all and (max-width: 624px) {
  .explorez h1,
  .decouvre {
    text-align: center;
  }
  .explorez {
    font-size: 12px;
  }
  .decouvre {
    font-size: 12px;
  }
}

/*bouton explorez*/
.btn_explorez {
  border-radius: 20px;
  font-weight: bold;
  text-align: center;
  padding: 15px 0px 15px 0px;
  height: 20px;
  width: 300px;
  color: #fff;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  font-size: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9353dc));
  background: linear-gradient(#ff79da, #9353dc);
  line-height: 20px;
}

.btn_explorez:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9353dc), to(#ff79da));
  background: linear-gradient(#9353dc, #ff79da);
}

/* vue mobile map*/
@media all and (max-width: 624px) {
  .btn_explorez {
    font-size: 12px;
    padding: 10px 0px 10px 0px;
    height: 15px;
    line-height: 15px;
    width: 150px;
  }
}

/* fonctionnement*/
.fonctionnement h1 {
  font-family: roboto;
}

.card_fonctionnement {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px 70px 20px 70px;
  background-color: #f6f5f5;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  font-weight: bold;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.card_fonctionnement:hover {
  background: rgba(147, 83, 220, 0.1);
}

.card_fonctionnement div {
  height: 25px;
  line-height: 25px;
}

.cards_fonctionnement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 10px;
}

/* vue mobile map*/
@media all and (max-width: 624px) {
  .cards_fonctionnement {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 1px;
  }
  .card_fonctionnement {
    font-size: 12px;
  }
}

/* number*/
.number {
  background-color: #9353dc;
  width: 25px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-left: -79px;
}
/*# sourceMappingURL=style_omf.css.map */