@import "./style_omf_commun.scss";                             /* style commun a toutes les pages*/


body{                   /* 100% de la page*/
    width: 100%;
}

.fleche i {                      /* positionnement de la flèche*/
    padding-top: 20px;
    margin-left: -70px;
    align-content: center;
    font-size: 20px;
}

.photo_gout{                           /* photo du restaurant*/
    background-image: $omf_background-image_gout;
    border-radius: 0;
    width: 100%;
}
.photo_enchante{                           /* photo du restaurant*/
    background-image: $omf_background-image_enchante;
    border-radius: 0;
    width: 100%;
}
.photo_delice_sens{                           /* photo du restaurant*/
    background-image: $omf_background-image_enchante;
    border-radius: 0;
    width: 100%;
}
.photo_ala_fr{                           /* photo du restaurant*/
    background-image: $omf_background-image_enchante;
    border-radius: 0;
    width: 100%;
}