@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
html, body {
  /* reset (par defaut des navigateurs)*/
  margin: 0;
  padding: 0;
}

/* importantion des polices*/
/* variables pour les écrans*/
/* decription des variabbles*/
.omf_btn, .btn_explorez {
  /* style des boutons*/
  /* Pour centrer les elements*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border-radius: 30px;
  text-align: center;
  width: 220px;
  color: #fff;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  font-size: 16px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9353dc));
  background: linear-gradient(#ff79da, #9353dc);
}

.omf_btn:hover, .btn_explorez:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#9353dc), to(#ff79da));
  background: linear-gradient(#9353dc, #ff79da);
}

/* style commun a toutes les pages*/
body {
  font-family: roboto, Arial, "sans-sherif";
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
#bloc_page {
  /* vue mobile*/
  width: auto;
}

@media only screen and (min-width: 768px) {
  /* page pour divers ecran */
  #bloc_page {
    margin: auto;
  }
}

/* mise en page du logo*/
#logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#logo img {
  height: 30px;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* vue divers ecran*/
@media only screen and (min-width: 768px) {
  #logo {
    display: block;
  }
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Map--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* mise en page du map*/
.map {
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c7c6c6), color-stop(10%, #ebe5e5));
  background: linear-gradient(#c7c6c6, #ebe5e5 10% 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.map .texte_map {
  font-size: 16px;
  font-family: roboto;
  font-weight: bold;
}

.map .icon_map {
  font-size: 18px;
  margin-right: 17px;
}

/* mise en page explorez*/
.explorez {
  background-color: #f6f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 290px;
}

.explorez h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 24px;
  font-weight: 900;
  margin: 40px 60px 10px 40px;
}

.decouvre {
  margin-bottom: 10px;
}

.explorez .decouvre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: light;
}

.btn_explorez {
  /*bouton explorez*/
}

/* vue mobile map*/
@media only screen and (min-width: 768px) {
  .decouvre {
    padding-top: 10px;
  }
  .explorez {
    height: 230px;
  }
  .explorez h1 {
    padding-top: 10px;
  }
  .btn_explorez {
    margin-top: 40px;
  }
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Fonctionnement---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* fonctionnement*/
.fonctionnement {
  margin-bottom: 70px;
}

.fonctionnement h1 {
  padding-top: 30px;
  margin-left: 29px;
  padding-bottom: 6px;
  font-family: roboto;
  font-weight: 900;
}

.cards_fonctionnement {
  padding-left: 30px;
}

.card_fonctionnement {
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 25px 70px 25px 70px;
  background-color: #f6f5f5;
  -webkit-box-shadow: 5px 10px 7px #e2e2e2;
          box-shadow: 5px 10px 7px #e2e2e2;
  font-weight: bold;
  width: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.card_fonctionnement .icon_fonctionnement {
  color: #ccc5c5;
  font-size: 20px;
}

.card_fonctionnement:hover {
  background: rgba(147, 83, 220, 0.1);
  color: #9353dc;
}

.card_fonctionnement:hover .icon_fonctionnement {
  color: #9353dc;
}

.card_fonctionnement div {
  /* réalisation des ronds*/
  height: 25px;
  line-height: 25px;
}

.cards_fonctionnement {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1px;
}

.card_fonctionnement {
  font-size: 16px;
}

/* vue divers ecran*/
@media only screen and (min-width: 768px) {
  .cards_fonctionnement {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-left: 10px;
  }
}

/* number*/
.number {
  background-color: #9353dc;
  width: 25px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-left: -79px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section restaurants------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*les restaurants*/
.restaurants {
  background-color: #f6f5f5;
  padding-top: 20px;
  padding-bottom: 50px;
}

.cards_restaurants {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 50px;
}

.card_restaurants {
  background-color: white;
  border-radius: 10px 10px 10px 10px;
  border: black solid 2px;
  height: 10rem;
  width: 22rem;
}

.photo_gout, .photo_enchante, .photo_ala_fr, .photo_delice_sens {
  /* Déclaration pour la taille et position des photos d'accueil*/
  border-radius: 10px 10px 0px 0px;
  height: 90px;
  background-position: center;
  background-size: cover;
  /* taille du backgroung couvre tout*/
}

.photo_gout {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.photo_enchante {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.photo_ala_fr {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.photo_delice_sens {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/* vue mobile map*/
@media only screen and (min-width: 768px) {
  .cards_restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
/*# sourceMappingURL=style_omf_accueil.css.map */