/* import fichiers interne - 
/* style commun a toutes les pages*/
@import "./style_omf_commun.scss";



/*---------------------------------------Varaibles------------------------------------------------------------------*/

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Map--------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* mise en page du map*/
.map {
  height: 50px;
  min-width: 250px;
  background: linear-gradient(
    rgb(199, 198, 198),
    rgb(235, 229, 229) 15%
  ); /* dégradé*/
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: $omf_text_font;
  font-weight: bold;
  
  .icon_map {
    font-size: 18px;
    margin-right: 17px;
  }
}

/* mise en page explorez*/
.explorez {
  background-color: $background-color-grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 290px;
  h1 {
    display: flex;
    text-align: center;
    align-content: center;
    font-size: 24px;
    font-weight: 900;
    margin: 40px 60px 10px 40px;
  }
}
.decouvre {
  margin-bottom: 10px;
}
.explorez .decouvre {
  display: flex;
  text-align: center;
  align-content: center;
  margin-right: 25px;
  margin-left: 25px;
  font-size: 18px;
  font-weight: normal;
}
/*Extension du btn commun*/
.btn_explorez {
  @extend .omf_btn;
}
/* vue tablette et desktop*/
@media #{$medium-up} {
  .decouvre {
    padding-top: 10px;
  }
  .explorez {
    height: 260px;
    h1 {
      padding-top: 10px;
    }
  }
  .btn_explorez {
    margin-top: 10px;
  }
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section Fonctionnement---------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

.fonctionnement {
  margin-bottom: 70px;
  margin-right: 15px;
  & h1 {
    padding-top: 30px;
    margin-left: 20px;
    padding-bottom: 6px;
    font-family: $omf_text_font;
    font-weight: 900;
  }
}
/*ensembles des trois cartes des numéros*/
.cards_fonctionnement {
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  margin-left: 1px;
  padding-left: 30px;
}
/* vue tablette et desktop*/
@media #{$medium-up} {
  .cards_fonctionnement {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .fonctionnement {
    margin-bottom: 30px;
  }
}
/*mise en page bloc carte a numéro*/
.card_fonctionnement {
  font-size: 16px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 25px 30px 25px 70px;
  background-color: $background-color-grey;
  box-shadow: 5px 10px 7px #e2e2e2;
  font-weight: bold;
  width: auto;
  display: flex;
  gap: 15px;
  .icon_fonctionnement {
    color: #ccc5c5;
    font-size: 20px;
    width: 25px;
    @include centrer;
  }
  &:hover {
    background: rgba($primaire, 0.1);
    color: $primaire;
    box-shadow: 5px 10px 7px rgb(161, 159, 159);
    .icon_fonctionnement {
      color: $primaire;
    }
  }
  /* réalisation des cercles avec les numéros*/
  & div {
    height: 25px;
    line-height: 25px;
  }
}
/* mise en page number*/
.number {
  background-color: $primaire;
  width: 25px;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  margin-left: -79px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*--------------------------------------Section restaurants------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
.restaurants {
  background-color: $background-color-grey;
  padding-top: 30px;
  padding-bottom: 50px;
  & h1 {
    font-weight: 900;
    margin-left: 20px;
  }
}
/*la carte des restaurants*/
.cards_restaurants {
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}
/*la carte du restaurant*/
.card_restaurants {
  background-color: white;
  box-shadow: 10px 10px 10px #e2e2e2;
  border-radius: 20px 20px 20px 20px;
  height: 250px;
  width: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  & a {
    /* retire la deco de new*/
    text-decoration: none;
  }
}
.info_resto {
  font-size: 18px;
  margin-left: 15px;
}
.restaurant_detail {
  display: grid;
  grid-template-columns: 6fr 1fr;
  margin-top: 15px;
  & a {
    text-decoration: none;
    color: black;
  }
}
/*placeholder - style du coeur vide*/
.heart_open {
  @extend %heart_style; /* heart_style dans commun*/
}
.heart_close {
  color: transparent;
  /*cliquable icon heart*/
  &:focus {
    display: block;
   
  }
}
/*curseur pointer*/
.icon_heart {
  cursor: pointer;
  & input{           /*case à cocher*/
    display: none;
  }
  & label{
    cursor: pointer;
  }
  & input:checked + label{ /*coche du heart, label qui suit le input*/
       .fas{
    transition: all 0.3s ease-out; /*temps de remplissage du coeur*/
    font-size: $omf_font_size_heart;
       background: -webkit-linear-gradient(
      $primaire,
      $secondaire
    ); /*degradé icon heart*/
    -webkit-background-clip: text; /* -webkit genere un warning mais est essentiel au fonctionnement du heart*/
    color: transparent;
  }
.far{
  opacity: 0;
}}
}
.new {
  border-radius: 2px;
  font-size: 15px;
  color: #0a9270;
  box-shadow: 2px 2px 5px #757373;
  background-color: $tertiaire;
  font-weight: bold;
  width: 80px;
  height: 30px;
  @include centrer; /*insertion des elements de la mixin centrer*/
}
/*placement new*/
.photo_gout,
.photo_enchante {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  padding-right: 10px;
}
/* vue tablette et desktop*/
@media #{$medium-up} {
  .cards_restaurants {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: auto;
  }
}
/* animation loader*/
@keyframes tourne {
  0% {
    transform: rotate(0deg);
  }
  90% {
    transform: rotate(360deg);
  }
  100% {
    opacity: 0; /*fait disparaitre le loader*/
    transform: scale(0);/* Permet au btn de fonctionner en minimisant le loader*/
  }
    }
.loading {
  /* création du loader*/
  border: 30px solid $secondaire;
  border-top: 30px solid $tertiaire;
  border-bottom: 30px solid $primaire;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: auto; /* placement*/
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  animation: tourne 2s forwards;  /* mis a 2s comme demandé dasn le brief - trop rapide à 0.5s */
}

