/* import fichiers interne*/
/* style commun a toutes les pages*/
@import "./style_omf_commun.scss";
/* 100% de la page*/
body {
  width: auto;
  font-family: $omf_text_font;
}
/* positionnement de la flèche*/
.fleche i {
  padding-top: 25px;
  margin-left: -70px;
  align-content: center;
  font-size: 20px;
}
.fleche a {
  color: black;
}
/* placeholder pour positionner les photos*/
%photo_position {
  border-radius: 0;
  width: 100%;
  height: 271px;
}
/*Extension du placeholder photo_position pour preciser les url des photos a utliser */
.photo_gout {
  /* photo du restaurant*/
  background-image: $omf_background-image_gout;
  @extend %photo_position;
}
.photo_enchante {
  /* photo du restaurant*/
  background-image: $omf_background-image_enchante;
  @extend %photo_position;
}
.photo_delice_sens {
  /* photo du restaurant*/
  background-image: $omf_background-image_delice;
  @extend %photo_position;
}
.photo_ala_fr {
  /* photo du restaurant*/
  background-image: $omf_background-image_francaise;
  @extend %photo_position;
}
/* style du div nom_restaurant et heart*/
.detail_resto {
  display: flex;
  justify-content: space-between; /* place le heart et le titre*/
  padding-top: 30px;
  background-color: $background-color-grey;
  height: 70px;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
}
/* nom du restaurant dans sa page*/
.nom_restaurant {
  font-family: $omf_title_font;
  font-size: 27px;
  margin-left: 20px;
  padding-right: 10%;
}
/* titre des restaurants pour passer au w3c car il faut un titre au section, reset du h4 pour garder la mise en page*/
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
}
/* Heart dans la carte du restaurant*/
.heart_open {
  padding-top: 5px;
  margin-right: 35px;
  font-size: 25px;
  text-align: right;
  color: rgb(119, 117, 117);
}
@media #{$medium-up} {
  .heart_open {
    margin-right: 70px;
  }
}

.cards_menu {
  background-color: $background-color-grey;
  min-height: 330px;
}
/* Entrées, plats, desserts*/
.titre {
  font-size: 17px;
  font-weight: lighter;
  padding-left: 17px;
  background-color: $background-color-grey;
}
/* petit trait sous le titre entrée ou plat, dessert*/
.separateur {
  background-color: $tertiaire;
  height: 3px;
  width: 45px;
  margin-left: 17px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.card_menu {
  position: relative;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  border-radius: 15px;
  background-color: rgb(250, 247, 246);
  align-content: center;
  width: auto;
  margin-left: 15px;
  margin-right: 14px;
  margin-bottom: 15px;
  padding-left: 3%;
  box-shadow: 2px 2px 5px 5px #e2e2e2;
  cursor: pointer;
  overflow: hidden; /*masque les elements qui sortent du div .card_menu */
  animation: apparait 0.6s linear forwards; /*déclenchement de l'animation apparait*/
  opacity: 0;
}
/*extension dela class .card_menu pour réaliser l'aparition en décalage des plats*/
.card_menu1 {
  @extend .card_menu;
  animation-delay: 0.01s; /* declage de l'apparition*/
}
.card_menu2 {
  @extend .card_menu;
  animation-delay: 0.3s;
}
.card_menu3 {
  @extend .card_menu;
  animation-delay: 0.6s;
}
.card_menu4 {
  @extend .card_menu;
  animation-delay: 0.9s;
}
/*animation d'apparition des plats */
@keyframes apparait {
  0% {
    transform: translate(0, 20px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/*création du carré pour l'animation*/
.carre {
  position: absolute;
  background-color: $tertiaire;
  height: 67px;
  width: 60px;
  right: -60px;
  border-radius: 0px 10px 10px 0px;
  transition: all 0.6s linear;
}
/*décalage du prix pour l'animation*/
.card_menu:hover .somme {
  padding-right: 50px;
  transition: 1s linear;
}
/*animation du carré au hover sur card_menu*/
.card_menu:hover .carre {
  right: 0;
}
/*création du cercle pour l'animation*/
.check_circle {
  color: white;
  position: absolute;
  top: 20px;
  left: 25px;
  font-size: 20px;
  transform: rotate(-360deg);
}
/*animation rotation du cercle au hover*/
.card_menu:hover .check_circle {
  transform: rotate(0);
  transition: all 0.5s linear;
  transition-delay: 0.5s;
}
/*vue divers ecran*/
@media #{$medium-up} {
  .card_menu {
    grid-template-columns: 20fr 1fr;
  }
}
.titre_entree {
  font-size: 19px;
  grid-column: 1 / span2;
  padding-top: 10px;
  font-weight: bold;
  text-overflow: ellipsis; /*disparition du texte et points de suspensions*/
  white-space: nowrap;
}
.detail_entree {
  font-size: 15px;
  text-overflow: ellipsis; /*disparition du texte et points de suspentions*/
  white-space: nowrap;
}
.somme {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
}
@media #{$medium-up} {
  .somme {
    margin-right: 45px;
  }
}

.commander {
  background-color: $background-color-grey;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 65px;
  margin-top: -9px;
}
/* extension du btn commun*/
.btn_commande {
  @extend .omf_btn;
  width: 180px;
}
.menu {
  background-color: $background-color-grey;
}

.desserts {
  margin-top: 20px;
}
