/*import fichiers externes*/
/*fichiers de polices en provenance de google font*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* import fichiers interne*/
/* variables pour les écrans*/
@import "./responsive.scss";
/* reset (par defaut des navigateurs)*/
html,
body {
  margin: 0;
  padding: 0;
}

/* decription des variables*/
$omf_text_font: roboto;
$omf_title_font: shrikhand;
$omf_font_default: Arial, "sans-sherif";
$omf_font_size_heart: 25px;
$background-color-grey: #f6f5f5;
$secondaire: #ff79da;
$primaire: #9353dc;
$tertiaire: #99e2d0;
$color_heart_open:#000;
$transition: 0.4s linear;

body {   /*police du body*/
  width: auto;
  font-family: $omf_text_font, $omf_font_default ;
}

%heart_style{
  font-size: $omf_font_size_heart;
  color: $color_heart_open;
  font-weight: lighter;
}
/* Variables photos*/
$omf_background-image_gout: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.webp");
$omf_background-image_enchante: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.webp");
$omf_background-image_francaise: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.webp");
$omf_background-image_delice: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.webp");

/* Pour centrer les elements*/
@mixin centrer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* placeholder pour déclarer la taille et position des photos d'accueil*/
%photo_accueil_taille {
  border-radius: 10px 10px 0px 0px;
  height: 175px;
  background-position: center;
  background-size: cover; /* taille du backgroung couvre tout*/
}
/*Extension du placeholder photo_accueil_taille */
.photo_gout {
 background-image: $omf_background-image_gout; /*url de la photo*/
  @extend %photo_accueil_taille; /*placeholder*/
}
.photo_enchante {
 background-image: $omf_background-image_enchante;
  @extend %photo_accueil_taille;
}
.photo_ala_fr {
 background-image: $omf_background-image_francaise;
  @extend %photo_accueil_taille;
}
.photo_delice_sens {
background-image: $omf_background-image_delice;
  @extend %photo_accueil_taille;
}
/* style des boutons*/
.omf_btn {
  @include centrer; /* insertion des elements de la mixin*/
  height: 50px;
  border-radius: 30px; /*bordures arrondies*/
  text-align: center;
  width: 220px;
  color: #fff;
  box-shadow: 5px 10px 7px #e2e2e2; /*ombre*/
  font-size: 16px;
  background: linear-gradient($secondaire, $primaire); /* dégradé*/
  &:hover {
    /* changement au passage de la souris*/
    background: linear-gradient($primaire, $secondaire);
    box-shadow: 5px 10px 7px rgb(161, 159, 159);
    opacity: 0.8; /*eclairssissement btn*/
  }
}
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
/* vue mobile*/
#bloc_page {
  width: auto;
}

/* mise en page du logo*/
#logo {
  display: flex;
  justify-content: center;
}
/*taille et position du logo*/
#logo img {
  height: 30px;
  width: 160px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

/*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
footer {
  background-color: black;
  height: 200px;
  color: white;
  padding-left: 20px;
}
#logo_footer {
  /* pas un logo mais utilisation de la police shrikhand sur le texte pour recréer le logo  */
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: shrikhand;
  font-size: 17px;
  color: #fff;
}
.proposer i,
.devenir i {
  padding-right: 15px;
  margin-bottom: 10px;
}
.contact {
  margin-bottom: 20px;
  & a {
    text-decoration: none;
    color: white;
  }
}
.mentions {
  margin-bottom: 10px;
}
