/* decription des variabbles*/
$omf_text_font: roboto;
$omf_title_font: shrikhand;
$omf_font_default: Arial, "sans-sherif";
$omf_font_size_text: 12px;
$omf_font_size_titre: 20px;
$background-color-grey: #f6f5f5;
$secondaire: #ff79da;
$primaire:#9353dc;

@mixin centrer {                     /* Pour centrer les elements*/
    display: flex;
    justify-content: space-around;
    align-items: center;  
}



.omf_btn {           /* style des boutons*/
   @include centrer;
    height: 50px;
    border-radius: 30px;
    text-align: center; 
    width: 220px;
    color: #fff;
    box-shadow: 5px 10px 7px #e2e2e2;
    font-size: 16px;
    background: linear-gradient($secondaire, $primaire);
&:hover{
      background: linear-gradient($primaire, $secondaire);     
    }
  }

 /*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
footer{
  background-color: black;
  height: 200px;
  color: white;
  padding-left: 20px;
  
}
#logo_footer{
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: shrikhand;
  font-size: 17px;
  color: #fff;
}
.proposer i, .devenir i{
  padding-right: 15px;
  margin-bottom: 10px;
}
.contact{
  margin-bottom: 20px;
} 
.mentions{
  margin-bottom: 10px;
}