@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import "./responsive.scss" ;                                 /* variables pour les écrans*/

/* decription des variabbles*/
$omf_text_font: roboto;
$omf_title_font: shrikhand;
$omf_font_default: Arial, "sans-sherif";
$omf_font_size_text: 12px;
$omf_font_size_titre: 20px;
$background-color-grey: #f6f5f5;
$secondaire: #ff79da;
$primaire:#9353dc;

@mixin centrer {                     /* Pour centrer les elements*/
    display: flex;
    justify-content: space-around;
    align-items: center;  
}



.omf_btn {           /* style des boutons*/
   @include centrer;
    height: 50px;
    border-radius: 30px;
    text-align: center; 
    width: 220px;
    color: #fff;
    box-shadow: 5px 10px 7px #e2e2e2;
    font-size: 16px;
    background: linear-gradient($secondaire, $primaire);
&:hover{
      background: linear-gradient($primaire, $secondaire);     
    }
  }
/*---------------------------------------------------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------         ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------  -----  ---------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/

#bloc_page {  /* vue mobile*/
  width: auto;
}
@media #{$medium-up} {     /* page pour divers ecran */
  #bloc_page {
    margin: auto;
  }
 }
                          /* mise en page du logo*/
#logo {
  display: flex;
  justify-content: center;
  
}
 #logo img {
  height:30px;
  width: 160px;  
  margin-top: 20px;
  margin-bottom: 10px ;
  margin-left: 20px;
}

                                /* vue divers ecran*/
@media #{$medium-up} {
  
#logo {
  display: block;
 }
}
 /*---------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------          ----------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------     ---------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*-------------------------------------------  ------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------------*/
footer{
  background-color: black;
  height: 200px;
  color: white;
  padding-left: 20px;
  
}
#logo_footer{
  padding-top: 15px;
  padding-bottom: 20px;
  font-family: shrikhand;
  font-size: 17px;
  color: #fff;
}
.proposer i, .devenir i{
  padding-right: 15px;
  margin-bottom: 10px;
}
.contact{
  margin-bottom: 20px;
} 
.mentions{
  margin-bottom: 10px;
}