/* import fichiers interne*/
/* style commun a toutes les pages*/
@import "./style_omf_commun.scss";


/* positionnement de la flèche*/
.fleche i {
  padding-top: 25px;
  margin-left: -70px;
  align-content: center;
  font-size: 20px;
}
.fleche a {
  color: black;
}
/* placeholder pour positionner les photos*/
%photo_position {
  border-radius: 0;
  width: 100%;
  height: 271px;
}
/*Extension du placeholder photo_position pour preciser les url des photos a utliser */
.photo_gout {
  /* photo du restaurant*/
  background-image: $omf_background-image_gout;
  @extend %photo_position;
}
.photo_enchante {
  /* photo du restaurant*/
  background-image: $omf_background-image_enchante;
  @extend %photo_position;
}
.photo_delice_sens {
  /* photo du restaurant*/
  background-image: $omf_background-image_delice;
  @extend %photo_position;
}
.photo_ala_fr {
  /* photo du restaurant*/
  background-image: $omf_background-image_francaise;
  @extend %photo_position;
}
/* style du div nom_restaurant et heart*/
.detail_resto {
  display: flex;
  justify-content: space-between; /* place le heart et le titre*/
  padding-top: 30px;
  background-color: $background-color-grey;
  height: 70px;
  border-radius: 30px 30px 0 0;
  margin-top: -50px;
}
/* nom du restaurant dans sa page*/
.nom_restaurant {
  font-family: $omf_title_font;
  font-size: 27px;
  margin-left: 20px;
  padding-right: 10%;
}
/* titre des restaurants pour passer au w3c car il faut un titre au section, reset du h4 pour garder la mise en page*/
h4 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: normal;
}
/* Heart dans la carte du restaurant*/
.heart_open_resto {
  @extend %heart_style; /* placeholder heart vide dans commun*/
  position: absolute;
  right: 50px;
  margin-top: 10px;
   }


.cards_menu {
  background-color: $background-color-grey;
  min-height: 330px;
}
/* Entrées, plats, desserts*/
.titre {
  font-size: 17px;
  font-weight: lighter;
  padding-left: 17px;
  background-color: $background-color-grey;
}
/* petit trait sous le titre entrée ou plat, dessert*/
.separateur {
  background-color: $tertiaire;
  height: 3px;
  width: 45px;
  margin-left: 17px;
  margin-top: 5px;
  margin-bottom: 15px;
}
/*animation d'apparition des plats */
@keyframes apparait {
  0% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.card_menu {
  position: relative;
  display: grid;
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 15px;
  border-radius: 15px;
  background-color: rgb(250, 247, 246);
  align-content: center;
  width: auto;
  margin-left: 15px;
  margin-right: 14px;
  margin-bottom: 15px;
  padding-left: 3%;
  box-shadow: 2px 2px 5px 5px #e2e2e2;
  cursor: pointer;
  overflow: hidden; /*masque les elements qui sortent du div .card_menu */
  animation: apparait $transition forwards; /*déclenchement de l'animation apparait*/
  opacity: 0;
  @for $num from 1 through 4 {     // boucle pour animation delay des 4 card
    &#{$num} {
        animation-delay: 300ms* $num;
    }
}
}
@media #{$medium-up} {
  .card_menu {
    grid-template-columns: 20fr 1fr;
  }
}
/*création du carré pour l'animation*/
.carre {
  position: absolute;
  background-color: $tertiaire;
  height: 67px;
  width: 60px;
  right: 0;
 border-radius: 0px 10px 10px 0px;
 transform: translateX(60px);
 @include centrer;
  transition: $transition;
}
/*animation du carré au hover sur card_menu*/
.card_menu:hover .carre {
  transform: translateX(0);
  transition: $transition;
}
.somme {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  transition: $transition;
}
/*décalage du prix pour l'animation*/
.card_menu:hover .somme {
  padding-right: 60px;
  transition: $transition;
}


.check_circle {
  color: white;
  position: absolute;
  font-size: 20px;
  
  }
/*création du cercle pour l'animation*/
@keyframes tourne{
  0%{
    transform: rotate(-360deg);
  }
    100%{
    transform: rotate(0);
  }
}
/*animation rotation du cercle au hover*/
.card_menu:hover .check_circle {
  animation: tourne $transition;
    }
/*vue divers ecran*/

.titre_entree {
  font-size: 19px;
  grid-column: 1 / span2;
  padding-top: 10px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis; /*disparition du texte et points de suspensions*/
  white-space: nowrap;
}

.detail_entree {
  width: 100%;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /*disparition du texte et points de suspentions*/
  }
  .card_menu:hover .detail_entree{
margin-right: -60px;
text-overflow: ellipsis; /*disparition du texte et points de suspentions*/
transition: $transition;
  }


.commander {
  background-color: $background-color-grey;
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 65px;
  margin-top: -9px;
}
/* extension du btn commun*/
.btn_commande {
  @extend .omf_btn;
  width: 180px;
}
.menu {
  background-color: $background-color-grey;
}

.desserts {
  margin-top: 20px;
}
